@media (prefers-color-scheme: dark) {
  body {
    background-color: #3b3b3b;
    color: #ffffff;
  }
  /* Ajoutez d'autres styles pour le mode sombre ici */
  .darknav{
      background-color:#292929
  }
  .back {
      background-color:#333333
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }
  /* Ajoutez d'autres styles pour le mode clair ici */
}

